/*头部选项卡样式*/

.man-div-title {
	background-color: #FFFFFF;
	border-bottom: 1px solid #E0E0E0;
}

.man-div-title ul {
	padding: 10px 20px 10px 20px;
	text-align: center;
	display: flex;
	color: #878787;
}

.man-div-title ul li {
	height: 30px;
	line-height: 28px;
	font-size: 14px;
}

.man-div-title ul li:first-child {
	flex: 1;
	border: 1px solid #E0E0E0;
}

.man-div-title ul li:last-child {
	flex: 1;
}

.man-div-title ul li {
	flex: 1;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
}

.li_xuan {
	background-color: #F2F2F2;
	color: #333;
}
.li_height{
	height: 100%!important;
	line-height: 100%!important;
}

/*body—保单样式*/

.man-div-body {}

.man-div-body-ul_li {
	background-color: #FFFFFF;
	padding: 0;
}

.man-div-body-ul_li_div {
	padding: 10px 20px 10px 20px;
}

.man-div-body-ul_li_div ul li {
	clear: both;
	/*overflow: hidden;*/
	height: 27px;
	line-height: 27px;
}

ul li span {
	color: #333;
	font-size: 15px;
}

.man-div-body-ul_li_div_ul2 li span:first-child {
	float: left;
	width: 40%;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.man-div-body-ul_li_div_ul2 li span:last-child {
	float: right;
	width: 60%;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.man-div-body-ul_li_div_ul1 li span:first-child {
	float: left;
}

.man-div-body-ul_li_div_ul1 li span:last-child {
	float: right;
}

.man-div-body-ul_li_div .man-div-body-ul_li_div_ul1 li:first-child span:last-child {
	position: relative;
	top: 14px;
	color: #878787;
}

.man-div-body-ul_li_div .man-div-body-ul_li_div_ul1 li:last-child span {
	font-size: 12px;
	color: #878787;
}

.man-div-body-ul_li_div .man-div-body-ul_li_div_ul1 li:last-child span:last-child {
	float: left;
	margin-left: 10px;
}


/*线*/

.xian {
	border-bottom: 1px solid #E0E0E0;
	margin-top: 10px;
}


/*ul2样式*/

.man-div-body-ul_li_div_ul2 {
	margin-top: 10px;
}

.man-div-body-ul_li_div .man-div-body-ul_li_div_ul2 li span:first-child {
	color: #878787;
}


/*垃圾桶*/

.lajitong {
	position: absolute;
	top: 35%;
	width: 30px;
	height: 30px;
	background: url(../../../../image/account/myOrder/lajitong.png);
	background-size: 100%;
}

.mui-btn-red span {
	position: relative;
	top: 15%;
	color: #FFFFFF;
}


/*保障名称颜色*/

.bao {
	color: #48A0F0!important;
}

.dai {
	color: #F0474A!important;
}

.yilingqu {
	color: #FF6E1A!important;
}


/*重写MUI*/

.mui-table-view-cell:after {
	background: #FFFFFF;
}


/*btn*/

.man-div-body-ul_li_div_ul3 {
	padding-top: 6px;
	border-top: 1px dotted #E0E0E0;
}

.man-div-body-ul_li_div_ul3 li {
	text-align: center;
}

.div_btn {
	text-align: center;
	font-size: 12px;
	display: inline-block;
	height: 27px;
	line-height: 27px;
	width: 50%;
	color: #48A0F0;
	border: 1px solid #48A0F0;
	border-radius: 3px;
}
.noRecordimg {
	margin: 0 auto;
	width: 100px;
	margin-top: 200px;
}

.noRecordfont {
	margin-top: 20px;
	color: #b5b5b5;
	text-align: center;
}