/*body—保单样式*/

.man-div-body {}

.man-div-body-ul_li {
	background-color: #FFFFFF;
	padding: 0;
}

.man-div-body-ul_li_div {
	padding: 10px 20px 10px 20px;
	background: #FFFFFF;
}

.man-div-body-ul_li_div ul li {
	clear: both;
	/*overflow: hidden;*/
	height: 27px;
	line-height: 27px;
}
.baodanhao{
	font-size: 13px;
	color: #666666!important;
}

ul li span {
	color: #333;
	font-size: 15px;
}

.man-div-body-ul_li_div ul li span:first-child {
	float: left;
	color: #878787;
}


/*.man-div-body-ul_li_div ul li span:last-child {
	float: right;
}*/


/*li man-div-body-ul_li_div_ul1 */

.marb20 {
	margin-bottom: 20px;
}

.list_two {
	height: 100%!important;
	color: #FF6E1A;
	font-size: 23.5px;
	margin-bottom: 5px;
}


/*.man-div-body-ul_li_div_ul1 li:last-child span:last-child {
	background-color: #48A0F0;
	color: #FFFFFF!important;
	padding: 0 5px 0 5px;
	border-radius: 5px;
	position: relative;
	top: -13px
}*/


/*.man-div-body-ul_li_div .man-div-body-ul_li_div_ul1 li:first-child span:last-child {
	color: #878787;
}*/

.jiantou {
	width: 10px;
	height: 10px;
	background: url(../../../../image/common/youjiantou.png);
	background-size: 100%;
	position: absolute;
	right: 20px;
	top: 19px;
}

.man-div-body-ul_li_div .man-div-body-ul_li_div_ul1 li:last-child span {
	font-size: 12px;
	color: #878787;
}


/*第二个div ul2*/

.man-div-body-ul_li_div_two .body_title_div {
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	color: #333;
}

.man-div-body-ul_li_div_two ul li {
	height: 41px;
}

.man-div-body-ul_li_div_two {
	background-color: #FFFFFF;
	padding: 10px 0px 10px 0px;
}

.body_title_div {
	padding: 0px 20px 0px 20px;
}

.man-div-body-ul {
	padding: 0px 20px 0px 20px;
}

.man-div-body-ul li span:first-child {
	float: left;
	color: #959595;
}

.man-div-body-ul li span:last-child {
	float: right;
}

.man-div-body-ul_li_div_two ul li span {
	line-height: 41px;
	height: 41px;
	width: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/*底部按钮*/

.man-div-body-ul_li_div_btn {
	margin-top: 25%;
	text-align: center;
}

.div_btn {
	display: inline-block;
	height: 50px;
	width: 100%;
	line-height: 50px;
	color: #FFFFFF;
	background-color: #48A0F0;
}


/*线*/

.xian {
	border-bottom: 1px solid #E0E0E0;
	margin-top: 10px;
}

.xianli {
	height: 0!important;
	border-bottom: 1px solid #E0E0E0;
}


/*个别字体单独颜色*/

.heise {
	color: #333!important;
}

.lanse {
	color: #48A0F0;
}

.chengse {
	color: #F19972;
}


/*小图标》*/

.rightjiantou {
	background: url(../../../../image/common/youjiantou.png);
	background-size: 100%;
	width: 16px;
	height: 16px;
}


/*定位top 12.5*/

.postop10 {
	position: relative;
	top: 12.5px;
}

.mbright30 {
	margin-right: 30px;
}