/*body—保单样式*/

.man-div-body {}

.man-div-body-ul_li {
	background-color: #FFFFFF;
	padding: 0;
}

.man-div-body-ul_li_div {
	padding: 10px 20px 10px 20px;
	background: #FFFFFF;
}

.man-div-body-ul_li_div ul li {
	clear: both;
	/*overflow: hidden;*/
	height: 27px;
	line-height: 27px;
}

ul li span {
	color: #333;
	font-size: 15px;
}

.man-div-body-ul_li_div ul li span:first-child {
	float: left;
}

.man-div-body-ul_li_div ul li span:last-child {
	float: right;
}


/*li man-div-body-ul_li_div_ul1 */

.man-div-body-ul_li_div_ul1 li:first-child {
	margin-bottom: 20px;
}

.list_two {
	height: 100%!important;
	color: #FF6E1A;
	font-size: 23.5px;
	margin-bottom: 5px;
}

.man-div-body-ul_li_div_ul1 li:last-child span:last-child {
	background:url(../../../../image/managemoney/productDetails/baozhangkuang.png) no-repeat;
	background-size: 100%;
	width: 67px;
	height: 35px;
	color: #FFFFFF!important;
	padding: 0 5px 0 5px;
	border-radius: 5px;
	position: relative;
	top: -13px;
	line-height: 35px;
	text-align: center;
	
}

.man-div-body-ul_li_div .man-div-body-ul_li_div_ul1 li:first-child span:last-child {
	font-size: 10.5px;
	color: #878787;
}

.jiantou {
	width: 10px;
	height: 10px;
	background: url(../../../../image/common/youjiantou.png);
	background-size: 100%;
	position: absolute;
	right: 20px;
	top: 19px;
}

.man-div-body-ul_li_div .man-div-body-ul_li_div_ul1 li:last-child span {
	font-size: 12px;
	color: #878787;
}


/*第二个div ul2*/

.man-div-body-ul_li_div_two .body_title_div {
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	color: #333;
}

.man-div-body-ul_li_div_two ul li {
	height: 41px;
}

.man-div-body-ul_li_div_two {
	background-color: #FFFFFF;
	padding: 10px 0px 10px 0px;
}

.body_title_div {
	padding: 0px 20px 0px 20px;
}

.man-div-body-ul {
	padding: 0px 20px 0px 20px;
}

.man-div-body-ul li span:first-child {
	float: left;
	color: #959595;
}

.man-div-body-ul li span:last-child {
	float: right;
}

.man-div-body-ul_li_div_two ul li span {
	line-height: 41px;
}
/*底部按钮*/
.man-div-body-ul_li_div_btn{
	height: 135px;
	line-height: 135px;
	padding: 10px 20px 10px 20px;
	text-align: center;
}
.div_btn{
	display: inline-block;
	height: 37.5px;
	padding: 2px 7px 2px 7px;
	width: 38%;
	line-height: 37.5px;
	color: #FFFFFF;
	background-color: #48A0F0;
	border-radius: 5px;
}

/*线*/

.xian {
	border-bottom: 1px solid #E0E0E0;
	margin-top: 10px;
}

.xianli {
	height: 0!important;
	border-bottom: 1px solid #E0E0E0;
}


/*个别字体单独颜色*/

.heise {
	color: #333!important;
}

.lanse {
	color: #48A0F0;
}

/*小图标》*/

.rightjiantou {
	background: url(../../../../image/common/youjiantou.png);
	background-size: 100%;
	width: 16px;
	height: 16px;
}

/*定位top 12.5*/
.postop10 {
	position: relative;
	top: 12.5px;
}
.mbright30{
	margin-right: 30px;
}
.chanping{
	margin-right: 15px;
}
