/*body—保单样式*/

.man-div-body {}

.man-div-body-ul_li {
	background-color: #FFFFFF;
	padding: 0;
}

.man-div-body-ul_li_div {
	padding: 10px 20px 10px 20px;
	background: #FFFFFF;
}

.man-div-body-ul_li_div ul li {
	clear: both;
	/*overflow: hidden;*/
	height: 27px;
	line-height: 27px;
}

ul li span {
	color: #333;
	font-size: 15px;
}

.man-div-body-ul_li_div ul li span:first-child {
	float: left;
}

.man-div-body-ul_li_div ul li span:last-child {
	float: right;
}


/*li man-div-body-ul_li_div_ul1 */

.man-div-body-ul_li_div_ul1 li:first-child {
	margin-bottom: 20px;
}

.list_two {
	height: 100%!important;
	color: #FF6E1A;
	font-size: 23.5px;
	margin-bottom: 5px;
}

.man-div-body-ul_li_div_ul1 li:last-child span:last-child {
	background: url(../../../../image/managemoney/productDetails/baozhangkuang.png) no-repeat;
	background-size: 100%;
	width: 67px;
	height: 35px;
	color: #FFFFFF!important;
	padding: 0 5px 0 5px;
	border-radius: 5px;
	position: relative;
	top: -13px;
	line-height: 35px;
	text-align: center;
}

.man-div-body-ul_li_div .man-div-body-ul_li_div_ul1 li:first-child span:last-child {
	font-size: 10.5px;
	color: #878787;
}

.jiantou {
	width: 10px;
	height: 10px;
	background: url(../../../../image/common/youjiantou.png);
	background-size: 100%;
	position: absolute;
	right: 20px;
	top: 19px;
}

.man-div-body-ul_li_div .man-div-body-ul_li_div_ul1 li:last-child span {
	font-size: 12px;
	color: #878787;
}


/*第二个div ul2*/

.man-div-body-ul_li_div_two .body_title_div {
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	color: #333;
}

.man-div-body-ul_li_div_two ul li {
	height: 41px;
}

.man-div-body-ul_li_div_two {
	background-color: #FFFFFF;
	padding: 10px 0px 10px 0px;
}

.body_title_div {
	padding: 0px 20px 0px 20px;
}

.man-div-body-ul {
	padding: 0px 20px 0px 20px;
}

.man-div-body-ul li span:first-child {
	float: left;
	color: #959595;
}

.man-div-body-ul li span:last-child {
	float: right;
}

.man-div-body-ul_li_div_two ul li span {
	line-height: 41px;
}


/*底部按钮*/

.man-div-body-ul_li_div_btn {
	height: 135px;
	line-height: 135px;
	padding: 10px 20px 10px 20px;
	text-align: center;
}

.div_btn {
	display: inline-block;
	height: 37.5px;
	text-align: center;
	width: 38%;
	line-height: 37.5px;
	font-size: 15px;
	color: #FFFFFF;
	background-color: #48A0F0;
	border-radius: 5px;
}


/*线*/

.xian {
	border-bottom: 1px solid #E0E0E0;
	margin-top: 10px;
}

.xianli {
	height: 0!important;
	border-bottom: 1px solid #E0E0E0;
}


/*个别字体单独颜色*/

.heise {
	color: #333!important;
}

.lanse {
	color: #48A0F0;
}


/*小图标》*/

.rightjiantou {
	background: url(../../../../image/common/youjiantou.png);
	background-size: 100%;
	width: 16px;
	height: 16px;
}


/*定位top 12.5*/

.postop10 {
	position: relative;
	top: 12.5px;
}

.mbright30 {
	margin-right: 30px;
}

.chanping {
	margin-right: 15px;
	font-size: 12px;
}

.huisebtn {
	background-color: #959595;
}


/*发送短信页面*/

.note {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(51, 51, 51, 0.2);
	z-index: 3;
}

.note-div {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 1;
	height: 230px;
	width: 80%;
	background-color: #FFFFFF;
	z-index: 9999;
	border-radius: 12px;
}

.note-div_title {
	height: 26%;
	width: 100%;
	background: url(../../../../image/common/notetitle.png) no-repeat;
	background-size: 100%;
	text-align: center;
	line-height: 50px;
}
.phone{
	vertical-align: sub;
}
.note-div_title_right {
	width: 13%;
	height: 20%;
	position: absolute;
	right: 0;
	top: 0;
}

.note-div_body_title {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 25px;
}

.note-div_body_input {
	text-align: center;
	padding: 0 5% 0 5%;
}

.note-div_body_input li:last-child {
	display: flex;
	border-bottom: 1px solid #E0E0E0;
	padding-bottom: 15px;
}

.note-div_body_input li span:first-child {
	flex: 2;
	border-right: 1px solid #E0E0E0;
}

.note-div_body_input li span:first-child input {
	font-size: 15px;
	color: #333;
	padding-left: 10px;
	font-family: 微软雅黑;
}

.note-div_body_input li span:last-child {
	flex: 1;
}


/*btn按钮 确定*/

.note {
	display: none;
}

.dianji {
	font-size: 15px;
}

.note-div-button {}

.note-div-btn {
	width: 50%;
	height: 37px;
	background-color: #48A0F0;
	border-radius: 5px;
	text-align: center;
	line-height: 37px;
	color: #FFFFFF;
	margin: 0 auto;
	margin-top: 20.5px;
}