<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!-- 忽略IOS将页面中的数字识别为电话号码 -->
		<meta name="format-detection" content="telephone=no" />
		<!-- 忽略Android平台中对邮箱地址的识别 -->
		<meta name="format-detection" content="email=no" />
		<title>保险顾问</title>
		<link rel="stylesheet" type="text/css" href="../../css/lib/widget/mui/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/lib/common/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/lib/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/usage/insuranceConsultant/insuranceConsultant.css" />
	</head>

	<body>
		<div class="mui-content mui-scroll-wrapper" id="list">
			<div class="mui-scroll">
				<div class="man mui-table-view">
					<div class="man-div-body " v-cloak>
						<ul class="man-div-body-ul ">
							<li class="man-div-body-li mb10 mui-table-view-cell" v-for="(value,key) in Objectitle" v-bind:agentCode='value.agentCode' v-bind:insuranceConsultantId='value.id'>
								<div class="mui-slider-right mui-disabled shanchu"  v-if='shanchu'>
									<a class="mui-btn mui-btn-red" v-bind:customerId="value.customerId" v-bind:insuranceConsultantId='value.id' v-bind:agentCode="value.agentCode">
										<!--<i class="lajitong"></i>-->
										<span>删除</span>
									</a>
								</div>
								<div class="man-div-body-ul_li_div mui-slider-handle leirong">
									<i class="xuan" v-if='value.isDefault=="01"'></i>
									<span class="first">
									<img class="imgzhao"  v-bind:src="value.postcardWxImage==''?'../../image/insuranceConsultant/1.png':urlimg+value.postcardWxImage">
									<span class="renzheng">
										权威认证
									</span>
									</span>
									<span class="last mgr15">
									<ul>
									<li v-html="value.name">陈某人</li>
													<li class='guwen mb10'>
														<span>保险顾问</span>
									<span class="heng"></span>
									<span>服务区域:</span>
									<span v-html="value.provinceName+' '+value.cityName"></span>
							</li>
							<li class='huise'>
								<span>手机号码：</span>
								<span v-html="value.userPhone"></span>
							</li>
							<li class='huise'> <span>业务员代码：</span>
								<span v-html="value.agentCode"></span>
							</li>
						</ul>
						</span>
						</div>
						</li>
						</ul>
					</div>
					<div class="baoxian">
						<div class="tianjia"><span class="jia">+</span>添加保险顾问</div>
					</div>
				</div>
			</div>
		</div>
		<div class="note">
			<div class="note-div">
				<div class="note-div_title">
					<div class="title">添加保险顾问</div>
					<div class="note-div_title_right"></div>
				</div>
				<div class="note-div_body">
					<div class="note-div_body_input">
						<ul>
							<li>
								<span>
									<input id='yan' type="text" name=""  value="" placeholder="请输入手机号"  maxlength='11' />
								</span>
							</li>
						</ul>
						<div class="note-div-button" style="display: flex;width: 80%;margin: 0 auto;">
							<div class="note-div-btn quxiao" style="flex: 0.6;">
								取消
							</div>
							<div style="flex: 0.1;"></div>
							<div class="note-div-btn queding" style="flex: 0.6;">
								确定
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../../js/lib/widget/mui/mui.min.js"></script>
	<script src="../../js/lib/common/zepto.min.js"></script>
	<script src="../../js/lib/common/base.js"></script>
	<script src="../../js/lib/common/common.js"></script>
	<script src="../../js/lib/widget/mui/vue.mi.js"></script>
	<script src="../../js/usage/insuranceConsultant/insuranceConsultant.js"></script>

</html>