/*头部选项卡样式*/

.man-div-title {
	background-color: #FFFFFF;
	border-bottom: 1px solid #E0E0E0;
}

.man-div-title ul {
	padding: 10px 20px 10px 20px;
	text-align: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	color: #878787;
}

.man-div-title ul li {
	height: 30px;
	line-height: 28px;
	font-size: 14px;
}

.man-div-title ul li:first-child {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	border: 1px solid #E0E0E0;
}

.man-div-title ul li:last-child {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}

.man-div-title ul li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
	border-right: 1px solid #E0E0E0;
}

.li_xuan {
	background-color: #F2F2F2;
	color: #333;
}


/*body—保单样式*/

.man-div-body {}

.man-div-body-ul_li {
	background-color: #FFFFFF;
	padding: 0;
}

.man-div-body-ul_li_div {
	padding: 10px 20px 10px 20px;
}

.man-div-body-ul_li_div ul li {
	clear: both;
	overflow: hidden;
	height: 25px;
	line-height: 25px;
}

ul li span {
	color: #333;
	font-size: 15px;
}

.man-div-body-ul_li_div ul li span:first-child {
	float: left;
}

.man-div-body-ul_li_div ul li:first-child span:first-child {
	/*账户我的保单页面限制长度保单号*/
	width: 80%;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.man-div-body-ul_li_div ul li:last-child span:first-child {
	/*账户我的保单页面限制长度保单号*/
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.man-div-body-ul_li_div ul li span:last-child {
	float: right;
}

.man-div-body-ul_li_div ul li:first-child span:last-child {
	width: 20%;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: right;
}

.man-div-body-ul_li_div ul li:last-child span:last-child {
	width: 70%;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: right;
}

.man-div-body-ul_li_div .man-div-body-ul_li_div_ul1 li:first-child span:last-child {
	color: #878787;
}

.man-div-body-ul_li_div .man-div-body-ul_li_div_ul1 li:last-child span:last-child {
	color: #878787;
}


/*线*/

.xian {
	border-bottom: 1px solid #E0E0E0;
	margin-top: 10px;
}


/*ul2样式*/

.man-div-body-ul_li_div .man-div-body-ul_li_div_ul2 li span:first-child {
	color: #878787;
}


/*垃圾桶*/

.lajitong {
	width: 30px;
	height: 60px;
	background: url(../../../../image/common/shanchulian.png)no-repeat;
	background-size: 100%;
}

.mui-btn-red span {
	position: relative;
	top: 15%;
	color: #FFFFFF;
}

.dai {
	color: #F0474A!important;
}

.bao {
	color: #48A0F0!important;
}

.shiming {
	display: none;
	background-color: rgba(0, 0, 4, 0.31);
	height: 41px;
	width: 100%;
	position: fixed;
	bottom: 0;
}

.left_shiming {
	font-size: 13px;
	color: #fff;
	text-align: left;
	line-height: 41px;
	margin-left: 10px;
	float: left;
}

.right_shiming {
	font-size: 11px;
	font-weight: bold;
	float: right;
	color: #50A1EB;
	line-height: 41px;
	margin-right: 10px;
}


/*重写MUI*/

.mui-bar-nav~.mui-content {
	padding-top: 0;
}