<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!-- 忽略IOS将页面中的数字识别为电话号码 -->
		<meta name="format-detection" content="telephone=no" />
		<!-- 忽略Android平台中对邮箱地址的识别 -->
		<meta name="format-detection" content="email=no" />
		<title>保单列表</title>
		<link rel="stylesheet" type="text/css" href="../../../css/lib/widget/mui/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/lib/common/base.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/lib/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/usage/managemoney/warRanty/warrantyList.css" />
	</head>

	<body>
		<div class="mui-content mui-scroll-wrapper" >
			<div class="mui-scroll">
				<div class="man mui-table-view">
					<div class="man-div-title ">
						<ul>
							<li orderStatus='' class="li_xuan">全部</li>
							<li orderStatus='1'>待生效</li>
							<li orderStatus='2'>保障中</li>
							<li orderStatus='3'>已领取</li>
						</ul>
					</div>
					<div id='list' class="man-div-body" v-cloak>
						<ul class="man-div-body-ul ">
							<li class="man-div-body-ul_li mb10 mui-table-view-cell" v-for="(value,key) in Objectlist" v-bind:policyNo='value.policyNo' v-bind:orderNo='value.orderNo' v-bind:insureNo='value.insureNo' v-bind:commdityComName='value.commdityComName'>
								<div v-if="value.orderStatus=='99'" class="mui-slider-right mui-disabled shanchu">
									<a class="mui-btn mui-btn-red">
										<i class="lajitong"></i>
										<span>删除</span>
									</a>
								</div>
								<div class="man-div-body-ul_li_div mui-slider-handle">
									<ul class="man-div-body-ul_li_div_ul1">
										<li>
											<span class="commdityComName" v-html="value.commdityComName">保单名称</span>
											<span class="baozhang" v-html="value.orderStatus"></span>
										</li>
										<li>
											<span v-html="value.companyName"></span>
											<span v-html="value.risk_type"></span>
										</li>
									</ul>
									<!--<div class="xian" v-if="value.baozhang!='已领取'"></div>
									<ul class="man-div-body-ul_li_div_ul2" v-if="value.baozhang!='已领取'">自动隐藏-->
									<ul class="man-div-body-ul_li_div_ul2">
										<ul class="man-div-body-ul_li_div_ul2">
											<li>
												<span>保单价值</span>
												<span v-html="value.accountValue+'元'" ></span>
											</li>
											<li>
												<span>投资本金</span>
												<span v-html="value.investmentPri+'元'"></span>
											</li>
											<li>
												<span>昨日收益</span>
												<span v-html="value.yesterdayProfit+'元'"></span>
											</li>
											<li>
												<span>累计收益</span>
												<span v-html="value.totalProfit+'元'"></span>
											</li>
											<li>
												<span>初始费用</span>
												<span v-html="value.initialFee+'元'"></span>
											</li>
											<li>
												<span>保障时间</span>
												<span v-html="value.underWrite"></span>
											</li>
										</ul>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../../../js/lib/widget/mui/mui.min.js"></script>
	<script src="../../../js/lib/common/zepto.min.js"></script>
	<script src="../../../js/lib/common/base.js"></script>
	<script src="../../../js/lib/common/common.js"></script>
	<script src="../../../js/lib/widget/mui/vue.mi.js"></script>
	<script src="../../../js/usage/managemoney/warRanty/warrantyList.js"></script>

</html>