<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>产品详细</title>
		<link rel="stylesheet" type="text/css" href="../../../css/lib/widget/mui/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/lib/widget/mui/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/lib/common/base.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/lib/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/usage/managemoney/productDetails/productDetails.css" />
	</head>

	<body>
		<div class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<div class="man mui-table-view" id='list'>
					<div class="man-div-body-ul_li_div mb10">
						<ul class="man-div-body-ul_li_div_ul1">
							<li class="mb30">
								<span class="heise" v-html="Objectitle.commodityCombination.commodityCombinationName"></span>
							</li>
							<li class="list_two">
								<h1 v-html="Objectitle.commodityCombination.remark+'%'"></h1>
							</li>
							<li class="li_body">
								<span v-html="Objectitle.commodityCombination.startPiece">1000</span>
								<span class="xianshu"></span>
								<span>365</span>
							</li>
							<li class="li_body_two">
								<span>起售金额(元)</span>
								<span class="xianshu"></span>
								<span>建议持有(天)</span>
							</li>
						</ul>
					</div>
					<div class="man-div-body-ul_li_div_two mb10">
						<div class="body_title_div">投资周期</div>
						<div class="xianqian"></div>
						<div class="info_content">
							<div class="p_bar">
								<div class="youyuqi"><span id="hesitatePeriod" v-html="touzizhouqi.youyuqi"></span><img src="../../../image/managemoney/productDetails/gantan.png"></div>
								<div><img src="../../../image/managemoney/productDetails/zhouqi.png"></div>
								<div class="suoding clearfix">
									<div class="suoding_left"><span id="lockingPeriod" v-html="touzizhouqi.suoding"></span><img src="../../../image/managemoney/productDetails/gantan.png"></div>
									<div class="suoding_right" v-html="touzizhouqi.chixu"></div>
								</div>
							</div>
						</div>
					</div>
					<!--产品信息-->
					<div class="man-div-body-ul_li_div_two mb10">
						<div class="body_title">
							<div class="body_title_div">产品基本信息</div>
							<div class="jiantou"></div>
							<div class="xian"></div>
						</div>
						<ul class="man-div-body-ul">
							<template v-for="(value,key) in CommodityCombinationModuleList">
								<li>
									<span v-html="value.subModuleName">承保公司</span>
									<span v-html="value.modueInfo"></span>
								</li>
								<li class="xianli"></li>
							</template>
						</ul>
					</div>
					<!--购买说明-->
					<div class="man-div-body-ul_li_div_goumai mb10">
						<div class="body_title">
							<div class="body_title_div">购买说明</div>
							<div class="jiantou"></div>
							<div class="xian"></div>
						</div>
						<ul class="man-div-body-ulgoumai">
							<li>
								<span class="goumai" v-html="goumaishuoming">建议持有365天,之后随时免费领取;购买初始费用0.3%</span>
							</li>
						</ul>
					</div>
					<!--相关协议-->
					<div class="man-div-body-ul_li_div_three mb10">
						<div class="body_title">
							<div class="body_title_div">相关协议</div>
							<div class="jiantou"></div>
							<div class="xian"></div>
						</div>
						<ul class="man-div-body-ul_three">
							<template v-for="(value,key) in xiangguanxieyi">
								<li>
									<span v-html="value.subModuleName"></span>
									<span class="youjiantouhuise"></span>
								</li>
								<li class="xianli"></li>
							</template>
						</ul>
					</div>
					<div class="man-div-body-ul_li_div_btn_one">
						<ul>
							<li>
								<span class="biao"></span>
								<span>该产品为投资连结保险,投资回报具有不确定性,产品投资风险由投保人承担。</span>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		<!--确认购买-->
		<div class="man-div-body-ul_li_div_btn" style="position: fixed;">
			<div id="huifang" class="div_btn">立即购买</div>
		</div>
		<div class="note">
			<div class="note-div">
				<div class="note-div_title">
					<div class="note-div_title_right"></div>
				</div>
				<div class="note-div_body">
					<div class="note-div_body_title">
						<ul>
							<li>
								<span>短信发送至手机号：</span>
								<span class="phone">135****3456</span>
							</li>
						</ul>
					</div>
					<div class="note-div_body_input">
						<ul>
							<li>
								<span>
									<input id='yan' type="text" name="" id="" value="" placeholder="请输入验证码" />
								</span>
								<span class="dianji">
								获取验证码
								</span>
							</li>
						</ul>
						<div class="note-div-button">
							<div class="note-div-btn">
								确定
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../../../js/lib/widget/mui/mui.min.js"></script>
	<script src="../../../js/lib/common/zepto.min.js"></script>
	<script src="../../../js/lib/common/base.js"></script>
	<script src="../../../js/lib/common/common.js"></script>
	<script src="../../../js/lib/widget/mui/vue.mi.js"></script>
	<script src="../../../js/usage/managemoney/productDetails/productDetails.js"></script>

</html>